
*.png
*.rdx
*.RData
*.rdb
DRAFTS and TEMPLATES/Tufte_Formatting_Examples_cache/html/__packages
DRAFTS and TEMPLATES/Tufte_Formatting_Examples.html
DRAFTS and TEMPLATES/.DS_Store
DRAFTS and TEMPLATES/.DS_Store
.Rhistory
.DS_Store
